# Log file
*.log

### react ###
.DS_*
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

package-lock.json


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
