.elecciones-jugador-container{
    margin-top:25px;
}

.elecciones-maquina-container .row{
    margin-bottom:12px;
}

.svg-img {
    margin-right:15px;
}

.seleccionable:hover{
    border-color:#c2185b !important;
}

.disabled-choice{
    pointer-events: none;
    cursor: default;
    opacity:0.2;
}

.bot-choice {
    border-width:3px !important;
    border-color:#69f0ae !important;
}

.player-choice {
    border-width:3px !important;
    border-color: #c2185b !important;
}
.restart{
    margin-right:15px;
}